* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: rgb(2, 116, 2);
  height: 60px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  font-family: "Roboto Mono", monospace;
}
.container {
  width: 60vw;
  margin: auto;
  padding: 30px;
  font-family: "Roboto Mono", monospace;
}

.logo {
  padding: 0 13px;
}

.logo img {
  width: 45px;
}

.toolbar-item button {
  cursor: pointer !important;
  color: rgba(15, 201, 25, 0.603) !important;
  border: 1px solid white !important;
  border-radius: 15px !important;
  padding: 5px 14px !important;
}
